.order-history {
  width: 80%;
  margin: 0 auto;
  text-align: center;
  min-height: 50vh;
  border: 1px solid black;
}

.order-history h1 {
  text-transform: uppercase;
}

.order {
  display: grid;
  grid-template-columns: 1fr 5fr 2fr;
  padding: 0.5rem 0;
}

.header {
  padding-bottom: 1rem;
  text-transform: uppercase;
  font-weight: bold;
}