.product-card {
  text-align: center;
}

.product-card-img {
  height: 420px;
  width: 100%;
  object-fit: cover;
}

.product-card-name {
  padding-top: 1rem;
  padding-bottom: 1rem;
  font-size: 0.9rem;
  letter-spacing: 0.1rem;
}

.product-card-price {
  font-size: 0.9rem;
  letter-spacing: 0.1rem;
}