.shipping-form {
  display: flex;
  flex-direction: column;
  min-width: 30vw;
}

h2 {
  text-transform: uppercase;
  letter-spacing: 0.15rem;
  margin: 0;
}

input {
  padding-top: 0.9rem; 
  padding-bottom: 0.9rem; 
  padding-left: 1rem;
  margin-bottom: 0.6rem;
}

button {
  background-color: black;
  color: white;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  text-transform: uppercase;
  letter-spacing: 0.15rem;
  border: 1px solid black;
}

.name-on-card {
  width: 100%;
}

.card-form-middle-row {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 2rem;
}

.card-form-middle-row input {
  width: 100%;
}